*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: #070724;
  background-image: url("../assets/background-stars.svg");
  background-size: cover;
  color: #fff;
}

.header {
  padding: 1.6rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
}
.header__logo {
  text-decoration: none;
  color: #fff;
  font-family: "Antonio", sans-serif;
  font-size: 2.8rem;
  letter-spacing: -0.105rem;
  text-transform: uppercase;
}
.header__menu-btn {
  width: 2.4rem;
  height: 1.7rem;
  display: block;
  background: none;
  border: none;
  transform: translateY(0.35rem);
}

.planet-facts {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2.4rem 0;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
  font-family: "League Spartan", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.1929rem;
  text-transform: uppercase;
}
.planet-facts__label-container {
  padding-bottom: 1.7rem;
}

.planet-info {
  padding: 9.5rem 2.4rem 4.7rem;
}
.planet-info__img {
  display: block;
  width: 11.1rem;
  height: 11.1rem;
  margin: 0 auto 9.8rem;
}
.planet-info__name {
  display: block;
  text-align: center;
  font-family: "Antonio", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.planet-info__details {
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-bottom: 3.2rem;
}
.planet-info__data {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.planet-info__data-container {
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  padding: 0.9rem 2.4rem 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.planet-info__data-name {
  color: rgba(255, 255, 255, 0.5);
  font-family: "League Spartan", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 0.0727rem;
  text-transform: uppercase;
  transform: translateY(0.4rem);
}
.planet-info__data-value {
  font-family: "Antonio", sans-serif;
  font-size: 2rem;
  letter-spacing: -0.075rem;
  text-transform: uppercase;
}

.source {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: "League Spartan", sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 2.8rem;
}
.source__link-window {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.source__link {
  color: rgba(255, 255, 255, 0.5);
}
.source__window {
  height: 1.2rem;
  width: 1.2rem;
  transform: translateY(-0.1rem);
}
.source__window-icon {
  display: block;
}

.sidebar {
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  height: calc(100vh - 6.926rem);
  position: absolute;
  top: 6.926rem;
  padding: 4.4rem 2.4rem 6.7rem;
  background: #070724;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}
.sidebar__planet-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar__planet-container:not(:first-child) {
  padding-top: 2rem;
}
.sidebar__planet-container:not(:last-child) {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
  padding-bottom: 2rem;
}
.sidebar__color-name {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.sidebar__planet-name {
  font-family: "League Spartan", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.1364rem;
  text-transform: uppercase;
}
.sidebar__chevron-btn, .sidebar__chevron-icon {
  display: block;
  width: 0.6rem;
  height: 1rem;
}
.sidebar__chevron-btn {
  background: none;
  border: none;
  transform: translateX(-0.8rem);
}

.hidden {
  display: none;
}

.header__menu-icon--clicked {
  fill: rgba(255, 255, 255, 0.25);
}

.container--selected {
  border-bottom: 0.4rem solid #419ebb;
}

.label--selected {
  color: #fff;
}

.label--not-selected {
  color: rgba(255, 255, 255, 0.5);
}

.sidebar--open {
  opacity: 1;
  visibility: initial;
  transform: initial;
}/*# sourceMappingURL=main.css.map */