// ********** STYLE GUIDE **********

// ************ COLORS ************
$color-white: #fff;
$color-white20Percent: rgba(255, 255, 255, 0.2);
$color-white50Percent: rgba(255, 255, 255, 0.5);
$color-white75Percent: rgba(255, 255, 255, 0.75);
$color-celestialBlue: #419ebb;
$color-indianYellow: #eda249;
$color-purpleBlue: #6d2ed5;
$color-chestnutRed: #d14c32;
$color-jasper: #d83a34;
$color-redFox: #cd5120;
$color-topaz: #1ec1a2;
$color-ultramarineBlue: #2d68f0;
$color-iron: #d8d8d8;
$color-ebony: #070724;

// ********* FONT-FAMILIES *********
$font-antonio: "Antonio", sans-serif;
$font-leagueSpartan: "League Spartan", sans-serif;

// ********* FONT-WEIGHTS *********
$fw-400: 400;
$fw-700: 700;

// ************* BASE *************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: #070724;
  background-image: url("../assets/background-stars.svg");
  background-size: cover;
  color: $color-white;
}

// ********* 375px LAYOUT *********

// ************ HEADER ***********
.header {
  padding: 1.6rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    text-decoration: none;
    color: $color-white;
    font-family: $font-antonio;
    font-size: 2.8rem;
    letter-spacing: -0.105rem;
    text-transform: uppercase;
  }

  &__menu-btn {
    background: none;
    border: none;
    transform: translateY(0.4rem);
  }
}

// ********* PLANET-FACTS *********
.planet-facts {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2.4rem 0;
  border-top: 0.1rem solid $color-white20Percent;
  border-bottom: 0.1rem solid $color-white20Percent;
  font-family: $font-leagueSpartan;
  font-size: 1.2rem;
  font-weight: $fw-700;
  letter-spacing: 0.1929rem;
  text-transform: uppercase;

  &__label-container {
    padding-bottom: 1.7rem;
  }
}

// ********** PLANET-INFO **********
.planet-info {
  padding: 9.5rem 2.4rem 4.7rem;

  &__img {
    display: block;
    width: 11.1rem;
    height: 11.1rem;
    margin: 0 auto 9.8rem;
  }

  &__name {
    display: block;
    text-align: center;
    font-family: $font-antonio;
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
  }

  &__details {
    text-align: center;
    font-family: $font-leagueSpartan;
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-bottom: 3.2rem;
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    &-container {
      border: 0.1rem solid $color-white20Percent;
      padding: 0.9rem 2.4rem 1.3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-name {
      color: $color-white50Percent;
      font-family: $font-leagueSpartan;
      font-size: 1.1rem;
      font-weight: $fw-700;
      line-height: 1.6rem;
      letter-spacing: 0.0727rem;
      text-transform: uppercase;
      transform: translateY(0.4rem);
    }

    &-value {
      font-family: $font-antonio;
      font-size: 2rem;
      letter-spacing: -0.075rem;
      text-transform: uppercase;
    }
  }
}

// ************ SOURCE ************
.source {
  display: flex;
  justify-content: center;
  color: $color-white50Percent;
  font-family: $font-leagueSpartan;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 2.8rem;

  &__link-window {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  &__link {
    color: $color-white50Percent;
  }

  &__window {
    height: 1.2rem;
    width: 1.2rem;
    transform: translateY(-0.1rem);
  }

  &__window-icon {
    display: block;
  }
}

// *********** SIDEBAR ************
.sidebar {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

// * CLASSES USED WITH JAVASCRIPT *
.container--selected {
  border-bottom: 0.4rem solid $color-celestialBlue;
}

.label--selected {
  color: $color-white;
}

.label--not-selected {
  color: $color-white50Percent;
}
