// ********** STYLE GUIDE **********

// ************ COLORS ************
$color-white: #fff;
$color-white20Percent: rgba(255, 255, 255, 0.2);
$color-white50Percent: rgba(255, 255, 255, 0.5);
$color-white75Percent: rgba(255, 255, 255, 0.75);
$color-celestialBlue: #419ebb;
$color-indianYellow: #eda249;
$color-purpleBlue: #6d2ed5;
$color-chestnutRed: #d14c32;
$color-jasper: #d83a34;
$color-redFox: #cd5120;
$color-topaz: #1ec1a2;
$color-ultramarineBlue: #2d68f0;
$color-iron: #d8d8d8;

// ********* FONT-FAMILIES *********
