// *********** 1104px LAYOUT ***********
@media only screen and (min-width: 69em) {
  // ************** HEADER **************
  .header {
    flex-direction: row;
    justify-content: space-between;
    gap: initial;
    padding: 0;

    &__logo {
      margin: 2.2rem 0 3.2rem 3.2rem;
    }

    &__planets {
      padding: 2.9rem 4.1rem 2.7rem 0;
    }
  }
}
