// ********* 375px LAYOUT *********
.tablet {
  display: none;
}

// ************ HEADER ***********
.header {
  padding: 1.6rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid $color-white20Percent;

  &__logo {
    text-decoration: none;
    color: $color-white;
    font-family: $font-antonio;
    font-size: 2.8rem;
    letter-spacing: -0.105rem;
    text-transform: uppercase;
  }

  &__menu-btn {
    width: 2.4rem;
    height: 1.7rem;
    display: block;
    background: none;
    border: none;
    transform: translateY(0.35rem);
  }
}

// ********* PLANET-FACTS *********
.planet-facts {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2.4rem 0;
  border-bottom: 0.1rem solid $color-white20Percent;
  font-family: $font-leagueSpartan;
  font-size: 1.2rem;
  font-weight: $fw-700;
  letter-spacing: 0.1929rem;
  text-transform: uppercase;

  &__label-container {
    padding-bottom: 1.7rem;
  }
}

// ********** PLANET-INFO **********
.planet-info {
  padding: 9.5rem 2.4rem 4.7rem;

  &__images {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-bottom: 9.8rem;
  }

  &__img {
    display: block;
    width: 11.1rem;
    height: 11.1rem;
  }

  &__surface-img {
    display: block;
    width: 6.04rem;
    height: 7.61rem;
    position: absolute;
    top: 8.5rem;
    z-index: 50;
  }

  &__container {
    margin-bottom: 2.8rem;
  }

  &__name {
    display: block;
    text-align: center;
    font-family: $font-antonio;
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
  }

  &__details {
    text-align: center;
    font-family: $font-leagueSpartan;
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-bottom: 3.2rem;
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    &-container {
      border: 0.1rem solid $color-white20Percent;
      padding: 0.9rem 2.4rem 1.3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-name {
      color: $color-white50Percent;
      font-family: $font-leagueSpartan;
      font-size: 1.1rem;
      font-weight: $fw-700;
      line-height: 1.6rem;
      letter-spacing: 0.0727rem;
      text-transform: uppercase;
      transform: translateY(0.4rem);
    }

    &-value {
      font-family: $font-antonio;
      font-size: 2rem;
      letter-spacing: -0.075rem;
      text-transform: uppercase;
    }
  }
}

// ************ SOURCE ************
.source {
  display: flex;
  justify-content: center;
  color: $color-white50Percent;
  font-family: $font-leagueSpartan;
  font-size: 1.5rem;
  line-height: 2.5rem;

  &__link-window {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  &__link {
    color: $color-white50Percent;
  }

  &__window {
    height: 1.2rem;
    width: 1.2rem;
    transform: translateY(-0.1rem);
  }

  &__window-icon {
    display: block;
  }
}

// *********** SIDEBAR ************
.sidebar {
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  height: calc(100vh - 6.926rem);
  position: absolute;
  top: 6.926rem;
  padding: 4.4rem 2.4rem 6.7rem;
  background: $color-ebony;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;

  &__planet-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:first-child) {
      padding-top: 2rem;
    }

    &:not(:last-child) {
      border-bottom: 0.1rem solid $color-white10Percent;
      padding-bottom: 2rem;
    }
  }

  &__color-name {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  &__planet-name {
    font-family: $font-leagueSpartan;
    font-size: 1.8rem;
    font-weight: $fw-700;
    line-height: 2.5rem;
    letter-spacing: 0.1364rem;
    text-transform: uppercase;
  }

  &__chevron-btn,
  &__chevron-icon {
    display: block;
    width: 0.6rem;
    height: 1rem;
  }

  &__chevron-btn {
    background: none;
    border: none;
    transform: translateX(-0.8rem);
  }
}

// ********* 572px LAYOUT *********
@media only screen and (min-width: 35.75em) {
  // *********** HEADER ***********
  .header {
    padding: 2.4rem 3.2rem;
  }

  // ******** PLANET-FACTS ********
  .planet-facts {
    padding: 2.8rem 3.2rem 0;

    &__label-container {
      padding-bottom: 2.5rem;
    }
  }

  // ********* PLANET-INFO *********
  .planet-info {
    padding: 9.5rem 3.2rem 4.7rem;
  }

  // *********** SIDEBAR ***********
  .sidebar {
    top: 8.526rem;
    padding: 4.4rem 3.2rem 6.7rem;
  }
}
